[Unit]
Description=SENTINELOPS Platform Service
After=network.target

[Service]
Type=simple
User=jenishkali
WorkingDirectory=/home/jenishkali/Desktop/SENTINELOPS
Environment="PATH=/home/jenishkali/Desktop/SENTINELOPS/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/jenishkali/Desktop/SENTINELOPS/venv/bin/python /home/jenishkali/Desktop/SENTINELOPS/src/main.py
ExecStop=/usr/bin/pkill -f "python src/main.py"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
